<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>用户管理<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="../../admin/user/uinfo"
						data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>供应商管理<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="../../admin/mysupplier/sinfo"
						data-title="供应商列表" href="javascript:void(0)">供应商列表</a></li>
					<li><a class="tk" data-href="../../admin/mysupplier/cateinfo"
						data-title="供应类目列表" href="javascript:void(0)">供应类目表</a></li>
					<li><a class="tk" data-href="../../admin/mysupplier/applylist"
						data-title="用户供应关系" href="javascript:void(0)">用户供应关系</a></li>
					<li><a class="tk" data-href="../../admin/mysupplier/usercate"
						data-title="用户类别关系" href="javascript:void(0)">用户类别关系</a></li>
					<li><a class="tk"
						data-href="../../admin/distribution/distribution"
						data-title="分销商品" href="javascript:void(0)">分销商品</a></li>

				</ul>
			</dd>
		</dl>


		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>淘宝管理<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="../../admin/Tao/goodsinfo"
						data-title="淘宝商品详情" href="javascript:void(0)">淘宝商品</a></li>
					<li><a class="tk" data-href="../../admin/Tao/toprop?cateid=A001"
						data-title="属性关系" href="javascript:void(0)">属性关联</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>拼多多管理<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="../../admin/pdd/getList"
						data-title="多多商品列表" href="javascript:void(0)">多多商品</a></li>
					<li><a class="tk" data-href="../../admin/pdd/order"
						data-title="多多店铺管理" href="javascript:void(0)">订单管理</a></li>
					<li><a class="tk" data-href="../../admin/pdd/shop"
						data-title="多多店铺管理" href="javascript:void(0)">多多店铺</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>已买/库存/运费<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="../../admin/bought/listbought"
						data-title="已买列表" href="javascript:void(0)"><del>已买列表</del></a></li>
					<li><a class="tk" data-href="../../admin/bought/inventory"
						data-title="库存列表" href="javascript:void(0)"><del>库存列表</del></a></li>
					<li><a class="tk"
						data-href="../../admin/bought/carriagetemplate"
						data-title="运费模版列表" href="javascript:void(0)">运费模版列表</a></li>
				</ul>
			</dd>
		</dl>



		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>已卖/项目/订单<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="#" data-title="已买列表"
						href="javascript:void(0)"><del>已卖列表</del></a></li> <{switch $uname}>
					<{case value="信儿众创|myanderson"}>
					<li><a class="tk" data-href="#" data-title="库存列表"
						href="javascript:void(0)"><del>项目列表</del></a></li> <{/case}>
					<{/switch}>

					<li><a class="tk" data-href="#" data-title="运费模版列表"
						href="javascript:void(0)"><del>订单跟踪</del></a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>分销列表<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk"
						data-href="../../admin/distribution/disupplier" data-title="分销商户"
						href="javascript:void(0)"><del>分销商户</del></a></li>
					<li><a class="tk"
						data-href="../../admin/distribution/dispurchase" data-title="分销采购"
						href="javascript:void(0)"><del>分销采购</del></a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>柜台列表<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="#" data-title="项目-P"
						href="javascript:void(0)"><del>项目-P</del></a></li>
					<li><a class="tk" data-href="#" data-title="开发-E"
						href="javascript:void(0)"><del>开发-E</del></a></li>
					<li><a class="tk" data-href="#" data-title="器件-S"
						href="javascript:void(0)"><del>器件-S</del></a></li>
					<li><a class="tk" data-href="#" data-title="其他-O"
						href="javascript:void(0)"><del>其他-O</del></a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-picture">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i>操作日志<i
					class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>
					<li><a class="tk" data-href="../../admin/log/log"
						data-title="查看日志" href="javascript:void(0)">查看日志</a></li>
					<li><a class="tk" data-href="../../admin/log/line"
						data-title="查看折线图" href="javascript:void(0)">日志折线</a></li>
					<li><a class="tk" data-href="../../admin/log/goodslog"
						data-title="查看折线图" href="javascript:void(0)">商品折线</a></li>
					<li><a class="tk" data-href="../../admin/log/supplierlog"
						data-title="查看折线图" href="javascript:void(0)">供应商折线</a></li>

				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:void(0);"
		onClick="displaynavbar(this)"></a>
</div>