<span class="l"> <!-- <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-trash"></i> 删除</a>
<a href="javascript:;" onclick="user_add('550','','添加用户','user-add.html')" class="btn btn-primary radius ml-20"><i class="icon-plus"></i> 添加</a>
<a href="javascript:;" onclick="user_add('550','','添加用户','user-add.html')" class="btn btn-primary radius ml-20"><i class="icon-plus"></i>修改</a> -->
	<button class="btn btn-primary radius">新增</button>
	<button class="btn btn-success radius ml-20">修改</button>
	<button class="btn btn-danger radius ml-20">删除</button>
</span>
<!-- 底部按钮 -->
