<div class="f-r">

	<span class="btn-upload form-group mb-20 mt-20"> <input
		class="input-text upload-url radius" type="text" name="uploadfile-1"
		id="uploadfile-1" readonly><a href="javascript:void();"
		class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i>
			浏览文件</a> <input type="file" multiple name="file-1" class="input-file">

	</span>
	<button class="btn btn-default radius btn-primary ml-30">导入</button>
	<button class="btn btn-default radius btn-primary ml-30">导出</button>

	<!-- 导入、导出框 -->
</div>