
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no" />
<title>后台</title>
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]> 
    <script type="text/javascript" src="Lib/html5.js"></script>
    <script type="text/javascript" src="Lib/respond.min.js"></script>
    <![endif]-->
<link href="/public/h-ui/static/h-ui/css/H-ui.css" rel="stylesheet"
	type="text/css" />
<link href="/public/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css"
	rel="stylesheet" type="text/css" />
<link href="/public/css/my.css" rel="stylesheet" type="text/css" />
<!--自己的样式-->
<!--[if IE 6]> 
    <script type="text/javascript" src="Lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('.pngfix,.icon');</script> 
    <![endif]-->
</head>
<body>
	<div class="mem">
		<header class="navbar-wrapper">
			<div class="navbar navbar-black">
				<div class="container cl">
					<div class="f-r cl">
						<span class="logo navbar-slogan f-l mr-10 hidden-xs">系统管理员</span>
						<nav class="nav navbar-nav nav-collapse f-l" role="navigation"
							id="Hui-navbar">
							<ul class="cl">
								<li class="dropDown dropDown_hover"><a href="#"
									class="dropDown_A">一级导航 <i class="Hui-iconfont">&#xe6d5;</i></a>
									<ul class="dropDown-menu menu radius box-shadow">
										<li><a href="#">二级导航</a></li>
										<li><a href="#">二级导航</a></li>
										<li><a href="#">二级导航</a></li>
									</ul></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div class="menu_dropdown myl">
			<div class="f-16 Huifold" id="Huifold1">
				<dl class="pl-20 item">
					<dt>
						<i class="Hui-iconfont">&#xe616;</i> 资讯管理<i
							class="Hui-iconfont menu_dropdown-arrow pd-30">&#xe6d5;</i>
					</dt>
					<dd>
						<ul>
							<li><a data-href="article-list.html" data-title="资讯管理"
								href="javascript:void(0)">资讯管理</a></li>
						</ul>
					</dd>
				</dl>

				<ul id="Huifold2" class="Huifold">
					<li class="item">
						<h4>
							标题<b>+</b>
						</h4>
						<div class="info">
							内容<br>很多内容
						</div>
					</li>
					<li class="item">
						<h4>
							标题<b>+</b>
						</h4>
						<div class="info">
							<img src="pic/2.png">
						</div>
					</li>
					<li class="item">
						<h4>
							标题<b>+</b>
						</h4>
						<div class="info">
							<img src="pic/1.png">
						</div>
					</li>
				</ul>



			</div>
		</div>
		<footer>页脚</footer>
	</div>
	<script type="text/javascript"
		src="/public/h-ui/lib/jquery/1.9.1/jquery.js"></script>
	<script type="text/javascript"
		src="/public/h-ui/static/h-ui/js/h-ui.js"></script>
	<script type="text/javascript" src="/public/js/my.js"></script>
</body>
</html>